--
-- PostgreSQL database dump
--

\restrict dgAxehItWSfwzLtmdXMjXI8wLQtrhhl3XulzLJP9aohJOqswQbjjXTvaq6Pcx9d

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pouleflow
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO pouleflow;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pouleflow
--

COMMENT ON SCHEMA public IS '';


--
-- Name: BoutStatus; Type: TYPE; Schema: public; Owner: pouleflow
--

CREATE TYPE public."BoutStatus" AS ENUM (
    'COMPLETED',
    'ABANDONMENT',
    'EXCLUSION',
    'MEDICAL',
    'PENDING'
);


ALTER TYPE public."BoutStatus" OWNER TO pouleflow;

--
-- Name: Gender; Type: TYPE; Schema: public; Owner: pouleflow
--

CREATE TYPE public."Gender" AS ENUM (
    'MALE',
    'FEMALE',
    'MIXED'
);


ALTER TYPE public."Gender" OWNER TO pouleflow;

--
-- Name: WeaponName; Type: TYPE; Schema: public; Owner: pouleflow
--

CREATE TYPE public."WeaponName" AS ENUM (
    'EPEE',
    'FOIL',
    'SABER'
);


ALTER TYPE public."WeaponName" OWNER TO pouleflow;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: BracketMatch; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."BracketMatch" (
    id integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "tableauId" integer NOT NULL,
    round integer NOT NULL,
    "position" integer NOT NULL,
    "fencerAId" integer,
    "fencerBId" integer,
    "winnerId" integer,
    "refereeId" integer,
    "scoreA" integer DEFAULT 0 NOT NULL,
    "scoreB" integer DEFAULT 0 NOT NULL,
    status public."BoutStatus" DEFAULT 'PENDING'::public."BoutStatus" NOT NULL,
    "targetTouches" integer DEFAULT 15 NOT NULL
);


ALTER TABLE public."BracketMatch" OWNER TO pouleflow;

--
-- Name: BracketMatch_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."BracketMatch_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."BracketMatch_id_seq" OWNER TO pouleflow;

--
-- Name: BracketMatch_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."BracketMatch_id_seq" OWNED BY public."BracketMatch".id;


--
-- Name: Category; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Category" (
    id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Category" OWNER TO pouleflow;

--
-- Name: Category_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Category_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Category_id_seq" OWNER TO pouleflow;

--
-- Name: Category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Category_id_seq" OWNED BY public."Category".id;


--
-- Name: Club; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Club" (
    id integer NOT NULL,
    name text NOT NULL,
    "shortCode" text NOT NULL,
    "countryId" integer NOT NULL
);


ALTER TABLE public."Club" OWNER TO pouleflow;

--
-- Name: Club_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Club_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Club_id_seq" OWNER TO pouleflow;

--
-- Name: Club_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Club_id_seq" OWNED BY public."Club".id;


--
-- Name: Country; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Country" (
    id integer NOT NULL,
    name text NOT NULL,
    "iocCode" text NOT NULL
);


ALTER TABLE public."Country" OWNER TO pouleflow;

--
-- Name: Country_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Country_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Country_id_seq" OWNER TO pouleflow;

--
-- Name: Country_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Country_id_seq" OWNED BY public."Country".id;


--
-- Name: Event; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Event" (
    id integer NOT NULL,
    "tournamentId" integer NOT NULL,
    "weaponId" integer NOT NULL,
    "categoryId" integer NOT NULL,
    gender public."Gender" NOT NULL
);


ALTER TABLE public."Event" OWNER TO pouleflow;

--
-- Name: Event_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Event_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Event_id_seq" OWNER TO pouleflow;

--
-- Name: Event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Event_id_seq" OWNED BY public."Event".id;


--
-- Name: Fencer; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Fencer" (
    id integer NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    "clubId" integer,
    "countryId" integer NOT NULL,
    "nationalRank" integer,
    "internationalRank" integer,
    points double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public."Fencer" OWNER TO pouleflow;

--
-- Name: Fencer_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Fencer_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Fencer_id_seq" OWNER TO pouleflow;

--
-- Name: Fencer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Fencer_id_seq" OWNED BY public."Fencer".id;


--
-- Name: Pool; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Pool" (
    id integer NOT NULL,
    "eventId" integer NOT NULL,
    "poolNumber" integer NOT NULL,
    "pisteNumber" integer,
    "refereeId" integer
);


ALTER TABLE public."Pool" OWNER TO pouleflow;

--
-- Name: PoolAssignment; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."PoolAssignment" (
    id integer NOT NULL,
    "poolId" integer NOT NULL,
    "fencerId" integer NOT NULL,
    victories integer DEFAULT 0 NOT NULL,
    "touchesScored" integer DEFAULT 0 NOT NULL,
    "touchesReceived" integer DEFAULT 0 NOT NULL,
    indicator integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."PoolAssignment" OWNER TO pouleflow;

--
-- Name: PoolAssignment_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."PoolAssignment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."PoolAssignment_id_seq" OWNER TO pouleflow;

--
-- Name: PoolAssignment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."PoolAssignment_id_seq" OWNED BY public."PoolAssignment".id;


--
-- Name: PoolBout; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."PoolBout" (
    id integer NOT NULL,
    "poolId" integer NOT NULL,
    "boutOrder" integer NOT NULL,
    "fencerAId" integer NOT NULL,
    "fencerBId" integer NOT NULL,
    "scoreA" integer NOT NULL,
    "scoreB" integer NOT NULL,
    "winnerId" integer,
    status public."BoutStatus" DEFAULT 'COMPLETED'::public."BoutStatus" NOT NULL
);


ALTER TABLE public."PoolBout" OWNER TO pouleflow;

--
-- Name: PoolBout_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."PoolBout_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."PoolBout_id_seq" OWNER TO pouleflow;

--
-- Name: PoolBout_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."PoolBout_id_seq" OWNED BY public."PoolBout".id;


--
-- Name: Pool_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Pool_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Pool_id_seq" OWNER TO pouleflow;

--
-- Name: Pool_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Pool_id_seq" OWNED BY public."Pool".id;


--
-- Name: Referee; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Referee" (
    id integer NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    "countryId" integer NOT NULL
);


ALTER TABLE public."Referee" OWNER TO pouleflow;

--
-- Name: Referee_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Referee_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Referee_id_seq" OWNER TO pouleflow;

--
-- Name: Referee_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Referee_id_seq" OWNED BY public."Referee".id;


--
-- Name: Registration; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Registration" (
    id integer NOT NULL,
    "eventId" integer NOT NULL,
    "fencerId" integer NOT NULL,
    "seedRank" integer
);


ALTER TABLE public."Registration" OWNER TO pouleflow;

--
-- Name: Registration_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Registration_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Registration_id_seq" OWNER TO pouleflow;

--
-- Name: Registration_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Registration_id_seq" OWNED BY public."Registration".id;


--
-- Name: Tableau; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Tableau" (
    id integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "eventId" integer NOT NULL,
    size integer NOT NULL,
    "roundConfigs" jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public."Tableau" OWNER TO pouleflow;

--
-- Name: Tableau_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Tableau_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Tableau_id_seq" OWNER TO pouleflow;

--
-- Name: Tableau_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Tableau_id_seq" OWNED BY public."Tableau".id;


--
-- Name: Tournament; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Tournament" (
    id integer NOT NULL,
    name text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    location text
);


ALTER TABLE public."Tournament" OWNER TO pouleflow;

--
-- Name: Tournament_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Tournament_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Tournament_id_seq" OWNER TO pouleflow;

--
-- Name: Tournament_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Tournament_id_seq" OWNED BY public."Tournament".id;


--
-- Name: Weapon; Type: TABLE; Schema: public; Owner: pouleflow
--

CREATE TABLE public."Weapon" (
    id integer NOT NULL,
    name public."WeaponName" NOT NULL
);


ALTER TABLE public."Weapon" OWNER TO pouleflow;

--
-- Name: Weapon_id_seq; Type: SEQUENCE; Schema: public; Owner: pouleflow
--

CREATE SEQUENCE public."Weapon_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Weapon_id_seq" OWNER TO pouleflow;

--
-- Name: Weapon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pouleflow
--

ALTER SEQUENCE public."Weapon_id_seq" OWNED BY public."Weapon".id;


--
-- Name: BracketMatch id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."BracketMatch" ALTER COLUMN id SET DEFAULT nextval('public."BracketMatch_id_seq"'::regclass);


--
-- Name: Category id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Category" ALTER COLUMN id SET DEFAULT nextval('public."Category_id_seq"'::regclass);


--
-- Name: Club id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Club" ALTER COLUMN id SET DEFAULT nextval('public."Club_id_seq"'::regclass);


--
-- Name: Country id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Country" ALTER COLUMN id SET DEFAULT nextval('public."Country_id_seq"'::regclass);


--
-- Name: Event id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Event" ALTER COLUMN id SET DEFAULT nextval('public."Event_id_seq"'::regclass);


--
-- Name: Fencer id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Fencer" ALTER COLUMN id SET DEFAULT nextval('public."Fencer_id_seq"'::regclass);


--
-- Name: Pool id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Pool" ALTER COLUMN id SET DEFAULT nextval('public."Pool_id_seq"'::regclass);


--
-- Name: PoolAssignment id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."PoolAssignment" ALTER COLUMN id SET DEFAULT nextval('public."PoolAssignment_id_seq"'::regclass);


--
-- Name: PoolBout id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."PoolBout" ALTER COLUMN id SET DEFAULT nextval('public."PoolBout_id_seq"'::regclass);


--
-- Name: Referee id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Referee" ALTER COLUMN id SET DEFAULT nextval('public."Referee_id_seq"'::regclass);


--
-- Name: Registration id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Registration" ALTER COLUMN id SET DEFAULT nextval('public."Registration_id_seq"'::regclass);


--
-- Name: Tableau id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Tableau" ALTER COLUMN id SET DEFAULT nextval('public."Tableau_id_seq"'::regclass);


--
-- Name: Tournament id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Tournament" ALTER COLUMN id SET DEFAULT nextval('public."Tournament_id_seq"'::regclass);


--
-- Name: Weapon id; Type: DEFAULT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Weapon" ALTER COLUMN id SET DEFAULT nextval('public."Weapon_id_seq"'::regclass);


--
-- Data for Name: BracketMatch; Type: TABLE DATA; Schema: public; Owner: pouleflow
--



--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Category" (id, name) FROM stdin;
1	Sub-9
2	Sub-11
3	Sub-13
4	Precadete
5	Cadete
6	Juvenil
7	Todo Competidor
8	Novicio
9	Universitario
10	Preveterano
11	Veterano 1
12	Veterano 2
13	Veterano 3
\.


--
-- Data for Name: Club; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Club" (id, name, "shortCode", "countryId") FROM stdin;
2	Club de Esgrima Valdivia	VALD	1
3	Araucania Fencing Club	AFC	1
4	Club de Esgrima Astarloa	ASTAR	1
\.


--
-- Data for Name: Country; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Country" (id, name, "iocCode") FROM stdin;
1	Chile	CHI
\.


--
-- Data for Name: Event; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Event" (id, "tournamentId", "weaponId", "categoryId", gender) FROM stdin;
4	3	3	7	MIXED
\.


--
-- Data for Name: Fencer; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Fencer" (id, "firstName", "lastName", "clubId", "countryId", "nationalRank", "internationalRank", points) FROM stdin;
8	David	Zurita	3	1	\N	\N	0
10	Emilia	Pizarro	4	1	\N	\N	0
11	Joaquin	Pizarro	4	1	\N	\N	0
12	Diego	Quezada	4	1	\N	\N	0
13	Alonso	Sandoval	4	1	\N	\N	0
14	Sofia	Alvarado	4	1	\N	\N	0
15	Rodrigo	Valencia	4	1	\N	\N	0
16	Claudio	Cadiz	4	1	\N	\N	0
17	Micaela	Perez	4	1	\N	\N	0
18	Sofia	Chamorro	2	1	\N	\N	0
\.


--
-- Data for Name: Pool; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Pool" (id, "eventId", "poolNumber", "pisteNumber", "refereeId") FROM stdin;
6	4	1	\N	\N
7	4	2	\N	\N
\.


--
-- Data for Name: PoolAssignment; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."PoolAssignment" (id, "poolId", "fencerId", victories, "touchesScored", "touchesReceived", indicator) FROM stdin;
36	6	13	3	16	8	8
37	6	16	1	8	16	-8
38	6	17	1	8	16	-8
39	6	11	3	16	8	8
40	6	10	2	12	12	0
41	7	8	4	20	4	16
42	7	15	3	16	8	8
43	7	18	2	12	12	0
44	7	12	1	8	16	-8
45	7	14	0	4	20	-16
\.


--
-- Data for Name: PoolBout; Type: TABLE DATA; Schema: public; Owner: pouleflow
--



--
-- Data for Name: Referee; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Referee" (id, "firstName", "lastName", "countryId") FROM stdin;
\.


--
-- Data for Name: Registration; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Registration" (id, "eventId", "fencerId", "seedRank") FROM stdin;
22	4	10	\N
23	4	13	\N
24	4	8	\N
25	4	14	\N
26	4	15	\N
27	4	12	\N
28	4	11	\N
29	4	16	\N
30	4	17	\N
31	4	18	\N
\.


--
-- Data for Name: Tableau; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Tableau" (id, "createdAt", "updatedAt", "eventId", size, "roundConfigs") FROM stdin;
32	2026-07-31 23:29:42.681	2026-07-31 23:42:30.497	4	16	{"2": 15, "4": 15, "8": 12, "16": 15}
\.


--
-- Data for Name: Tournament; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Tournament" (id, name, "startDate", "endDate", location) FROM stdin;
3	Copa de Prueba	2026-07-31 00:00:00	2026-07-31 00:00:00	Temuco, Chile
\.


--
-- Data for Name: Weapon; Type: TABLE DATA; Schema: public; Owner: pouleflow
--

COPY public."Weapon" (id, name) FROM stdin;
1	EPEE
2	FOIL
3	SABER
\.


--
-- Name: BracketMatch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."BracketMatch_id_seq"', 190, true);


--
-- Name: Category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Category_id_seq"', 13, true);


--
-- Name: Club_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Club_id_seq"', 4, true);


--
-- Name: Country_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Country_id_seq"', 1, true);


--
-- Name: Event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Event_id_seq"', 4, true);


--
-- Name: Fencer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Fencer_id_seq"', 18, true);


--
-- Name: PoolAssignment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."PoolAssignment_id_seq"', 45, true);


--
-- Name: PoolBout_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."PoolBout_id_seq"', 83, true);


--
-- Name: Pool_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Pool_id_seq"', 7, true);


--
-- Name: Referee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Referee_id_seq"', 1, true);


--
-- Name: Registration_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Registration_id_seq"', 31, true);


--
-- Name: Tableau_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Tableau_id_seq"', 32, true);


--
-- Name: Tournament_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Tournament_id_seq"', 3, true);


--
-- Name: Weapon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pouleflow
--

SELECT pg_catalog.setval('public."Weapon_id_seq"', 3, true);


--
-- Name: BracketMatch BracketMatch_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."BracketMatch"
    ADD CONSTRAINT "BracketMatch_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Club Club_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Club"
    ADD CONSTRAINT "Club_pkey" PRIMARY KEY (id);


--
-- Name: Country Country_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Country"
    ADD CONSTRAINT "Country_pkey" PRIMARY KEY (id);


--
-- Name: Event Event_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_pkey" PRIMARY KEY (id);


--
-- Name: Fencer Fencer_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Fencer"
    ADD CONSTRAINT "Fencer_pkey" PRIMARY KEY (id);


--
-- Name: PoolAssignment PoolAssignment_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."PoolAssignment"
    ADD CONSTRAINT "PoolAssignment_pkey" PRIMARY KEY (id);


--
-- Name: PoolBout PoolBout_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."PoolBout"
    ADD CONSTRAINT "PoolBout_pkey" PRIMARY KEY (id);


--
-- Name: Pool Pool_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Pool"
    ADD CONSTRAINT "Pool_pkey" PRIMARY KEY (id);


--
-- Name: Referee Referee_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Referee"
    ADD CONSTRAINT "Referee_pkey" PRIMARY KEY (id);


--
-- Name: Registration Registration_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Registration"
    ADD CONSTRAINT "Registration_pkey" PRIMARY KEY (id);


--
-- Name: Tableau Tableau_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Tableau"
    ADD CONSTRAINT "Tableau_pkey" PRIMARY KEY (id);


--
-- Name: Tournament Tournament_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Tournament"
    ADD CONSTRAINT "Tournament_pkey" PRIMARY KEY (id);


--
-- Name: Weapon Weapon_pkey; Type: CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Weapon"
    ADD CONSTRAINT "Weapon_pkey" PRIMARY KEY (id);


--
-- Name: Category_name_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "Category_name_key" ON public."Category" USING btree (name);


--
-- Name: Club_name_countryId_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "Club_name_countryId_key" ON public."Club" USING btree (name, "countryId");


--
-- Name: Club_shortCode_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "Club_shortCode_key" ON public."Club" USING btree ("shortCode");


--
-- Name: Country_iocCode_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "Country_iocCode_key" ON public."Country" USING btree ("iocCode");


--
-- Name: Country_name_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "Country_name_key" ON public."Country" USING btree (name);


--
-- Name: Event_tournamentId_weaponId_categoryId_gender_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "Event_tournamentId_weaponId_categoryId_gender_key" ON public."Event" USING btree ("tournamentId", "weaponId", "categoryId", gender);


--
-- Name: Fencer_lastName_firstName_idx; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE INDEX "Fencer_lastName_firstName_idx" ON public."Fencer" USING btree ("lastName", "firstName");


--
-- Name: PoolAssignment_poolId_fencerId_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "PoolAssignment_poolId_fencerId_key" ON public."PoolAssignment" USING btree ("poolId", "fencerId");


--
-- Name: PoolBout_poolId_boutOrder_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "PoolBout_poolId_boutOrder_key" ON public."PoolBout" USING btree ("poolId", "boutOrder");


--
-- Name: PoolBout_poolId_fencerAId_fencerBId_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "PoolBout_poolId_fencerAId_fencerBId_key" ON public."PoolBout" USING btree ("poolId", "fencerAId", "fencerBId");


--
-- Name: Pool_eventId_poolNumber_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "Pool_eventId_poolNumber_key" ON public."Pool" USING btree ("eventId", "poolNumber");


--
-- Name: Registration_eventId_fencerId_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "Registration_eventId_fencerId_key" ON public."Registration" USING btree ("eventId", "fencerId");


--
-- Name: Weapon_name_key; Type: INDEX; Schema: public; Owner: pouleflow
--

CREATE UNIQUE INDEX "Weapon_name_key" ON public."Weapon" USING btree (name);


--
-- Name: BracketMatch BracketMatch_fencerAId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."BracketMatch"
    ADD CONSTRAINT "BracketMatch_fencerAId_fkey" FOREIGN KEY ("fencerAId") REFERENCES public."Fencer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: BracketMatch BracketMatch_fencerBId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."BracketMatch"
    ADD CONSTRAINT "BracketMatch_fencerBId_fkey" FOREIGN KEY ("fencerBId") REFERENCES public."Fencer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: BracketMatch BracketMatch_refereeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."BracketMatch"
    ADD CONSTRAINT "BracketMatch_refereeId_fkey" FOREIGN KEY ("refereeId") REFERENCES public."Referee"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: BracketMatch BracketMatch_tableauId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."BracketMatch"
    ADD CONSTRAINT "BracketMatch_tableauId_fkey" FOREIGN KEY ("tableauId") REFERENCES public."Tableau"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BracketMatch BracketMatch_winnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."BracketMatch"
    ADD CONSTRAINT "BracketMatch_winnerId_fkey" FOREIGN KEY ("winnerId") REFERENCES public."Fencer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Club Club_countryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Club"
    ADD CONSTRAINT "Club_countryId_fkey" FOREIGN KEY ("countryId") REFERENCES public."Country"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event Event_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event Event_tournamentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_tournamentId_fkey" FOREIGN KEY ("tournamentId") REFERENCES public."Tournament"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event Event_weaponId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_weaponId_fkey" FOREIGN KEY ("weaponId") REFERENCES public."Weapon"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Fencer Fencer_clubId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Fencer"
    ADD CONSTRAINT "Fencer_clubId_fkey" FOREIGN KEY ("clubId") REFERENCES public."Club"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Fencer Fencer_countryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Fencer"
    ADD CONSTRAINT "Fencer_countryId_fkey" FOREIGN KEY ("countryId") REFERENCES public."Country"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PoolAssignment PoolAssignment_fencerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."PoolAssignment"
    ADD CONSTRAINT "PoolAssignment_fencerId_fkey" FOREIGN KEY ("fencerId") REFERENCES public."Fencer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PoolAssignment PoolAssignment_poolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."PoolAssignment"
    ADD CONSTRAINT "PoolAssignment_poolId_fkey" FOREIGN KEY ("poolId") REFERENCES public."Pool"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PoolBout PoolBout_fencerAId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."PoolBout"
    ADD CONSTRAINT "PoolBout_fencerAId_fkey" FOREIGN KEY ("fencerAId") REFERENCES public."Fencer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PoolBout PoolBout_fencerBId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."PoolBout"
    ADD CONSTRAINT "PoolBout_fencerBId_fkey" FOREIGN KEY ("fencerBId") REFERENCES public."Fencer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PoolBout PoolBout_poolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."PoolBout"
    ADD CONSTRAINT "PoolBout_poolId_fkey" FOREIGN KEY ("poolId") REFERENCES public."Pool"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PoolBout PoolBout_winnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."PoolBout"
    ADD CONSTRAINT "PoolBout_winnerId_fkey" FOREIGN KEY ("winnerId") REFERENCES public."Fencer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Pool Pool_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Pool"
    ADD CONSTRAINT "Pool_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Pool Pool_refereeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Pool"
    ADD CONSTRAINT "Pool_refereeId_fkey" FOREIGN KEY ("refereeId") REFERENCES public."Referee"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Referee Referee_countryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Referee"
    ADD CONSTRAINT "Referee_countryId_fkey" FOREIGN KEY ("countryId") REFERENCES public."Country"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Registration Registration_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Registration"
    ADD CONSTRAINT "Registration_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Registration Registration_fencerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Registration"
    ADD CONSTRAINT "Registration_fencerId_fkey" FOREIGN KEY ("fencerId") REFERENCES public."Fencer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Tableau Tableau_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouleflow
--

ALTER TABLE ONLY public."Tableau"
    ADD CONSTRAINT "Tableau_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pouleflow
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict dgAxehItWSfwzLtmdXMjXI8wLQtrhhl3XulzLJP9aohJOqswQbjjXTvaq6Pcx9d

