# Postgres
POSTGRES_USER=pouleflow
POSTGRES_PASSWORD=changeme
POSTGRES_DB=pouleflow
DATABASE_URL=postgresql://pouleflow:changeme@postgres:5432/pouleflow?schema=public

# Redis
REDIS_URL=redis://redis:6379

# Backend
BACKEND_PORT=3000
JWT_SECRET=changeme_super_secret

# Frontend
VITE_API_URL=http://localhost:3000
VITE_WS_URL=ws://localhost:3000
