# Postgres
POSTGRES_USER=pouleflow
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=pouleflow
DATABASE_URL=postgresql://pouleflow:CHANGE_ME@postgres:5432/pouleflow?schema=public

# Redis
REDIS_URL=redis://redis:6379

# Backend
BACKEND_PORT=3000
JWT_SECRET=CHANGE_ME_super_secret

# Frontend
VITE_API_URL=/api
VITE_WS_URL=ws://localhost:3000
